$scale: 0.1;
$transparent-opacity: 0.2;

@mixin createLoader ($scale) {
  border-radius: 50%;
  width: 10em * $scale;
  height: 10em * $scale;

  border: solid rgba(255, 255, 255, $transparent-opacity);
  border-left-color: white;

  &::after {
    border-radius: 50%;
    width: 10em * $scale;
    height: 10em * $scale;
  }
}

.overlay {
  position: fixed;
  z-index: 1000;
  bottom: 16px;
  right: 16px;
}

.component {
  border-radius: 100%;
  background: #3f51b5;
  padding: 16px;
  user-select: none;

  transform: translateY(100%) translateY(24px);
  transition: transform 120ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content {
  border-radius: 50%;
  transform: translateZ(0);
  animation: loader 600ms infinite linear;

  @include createLoader(0.1);

  &::after {
    border-radius: 50%;
  }
}

.show {
  transform: translateY(0%) !important;
}

.large {
  @include createLoader(0.15);
}

@keyframes loader {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}
