<div class="component">
  <mat-card class="content">
    <mat-card-header>
      <mat-card-title>
        <h1>Drivers API</h1>
        <mat-icon (click)="getDriversApiData()" mat-list-icon>refresh</mat-icon>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-accordion class="accordion">
        <mat-expansion-panel
          *ngFor="let data of driversApiData;">
          <mat-expansion-panel-header>
            <span>{{data.method}}</span>
            <span>{{data.name}}</span>
            <span>{{data.status}}</span>
          </mat-expansion-panel-header>
          <div class="accordion-content">
            <p>Result</p>
            <span>{{data.result}}</span>

            <p>Error</p>
            <span>{{data.error ? data.error : "Null"}}</span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

  <mat-card class="content">
    <mat-card-header>
      <mat-card-title>
        <h1>Government API</h1>
        <mat-icon (click)="getGovernmentApiData()" mat-list-icon>refresh</mat-icon>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-accordion class="accordion">
        <mat-expansion-panel
          *ngFor="let data of governmentApiData;">
          <mat-expansion-panel-header>
            <span>{{data.method}}</span>
            <span>{{data.name}}</span>
            <span>{{data.status}}</span>
          </mat-expansion-panel-header>
          <div class="accordion-content">
            <p>Result</p>
            <span>{{data.result}}</span>

            <p>Error</p>
            <span>{{data.error ? data.error : "Null"}}</span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

  <mat-card class="content">
    <mat-card-header>
      <mat-card-title>
        <h1>Police API</h1>
        <mat-icon (click)="getPoliceApiData()" mat-list-icon>refresh</mat-icon>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-accordion class="accordion">
        <mat-expansion-panel
          *ngFor="let data of policeApiData;">
          <mat-expansion-panel-header>
            <span>{{data.method}}</span>
            <span>{{data.name}}</span>
            <span>{{data.status}}</span>
          </mat-expansion-panel-header>
          <div class="accordion-content">
            <p>Result</p>
            <span>{{data.result}}</span>

            <p>Error</p>
            <span>{{data.error ? data.error : "Null"}}</span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

  <mat-card class="content">
    <mat-card-header>
      <mat-card-title>
        <h1>Registration API</h1>
        <mat-icon (click)="getRegisterApiData()" mat-list-icon>refresh</mat-icon>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-accordion class="accordion">
        <mat-expansion-panel
          *ngFor="let data of registerApiData;">
          <mat-expansion-panel-header>
            <span>{{data.method}}</span>
            <span>{{data.name}}</span>
            <span>{{data.status}}</span>
          </mat-expansion-panel-header>
          <div class="accordion-content">
            <p>Result</p>
            <span>{{data.result}}</span>

            <p>Error</p>
            <span>{{data.error ? data.error : "Null"}}</span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

  <mat-card class="content">
    <mat-card-header>
      <mat-card-title>
        <h1>Other countries</h1>
        <mat-icon (click)="getOtherCountriesApiData()" mat-list-icon>refresh</mat-icon>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-accordion class="accordion">
        <mat-expansion-panel
          *ngFor="let data of otherCountriesApiData;">
          <mat-expansion-panel-header>
            <span>{{data.name}}</span>
            <span>{{data.status}}</span>
          </mat-expansion-panel-header>
          <div class="accordion-content">
            <p>Status</p>
            <span>{{data.status}}</span>
            <p>Error</p>
            <span>{{data.error ? data.error : "Null"}}</span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
