@import '../../../styles/base';

.component {
  margin: 16px auto;
  max-width: $view-max-width;
}

.content {
  margin-bottom: 16px;
}

.card-content {
  padding: 16px;
}

.mat-card-header .mat-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.mat-card .mat-divider {
  position: relative;
}

.accordion .mat-expansion-panel-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  span {
    margin-right: 16px;
  }

  :last-child {
    margin-left: auto;
  }

  :nth-child(2),
  :last-child {
    color: rgba(0,0,0,.54);
  }
}

.accordion-content {
  margin-bottom: 16px;

  p {
    font-weight: bold;
    //margin: 0;
  }

  span {
    display: block;
    padding: 4px;
    border: 1px solid $color-border;
    border-radius: 2px;
    word-wrap: break-word;
  }
}

.accordion-content-row {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}

