<mat-sidenav-container class="component">
  <mat-sidenav #sidebar class="sidebar">
    <mat-nav-list class="sidebar-list">
      <mat-list-item (click)="sidebar.toggle()" [routerLink]="[{ outlets: { dashboard: ['monitor'] } }]">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <span matLine>Monitor</span>
      </mat-list-item>

      <mat-list-item (click)="logout()">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <span mat-line>Uitloggen</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="header">
    <button mat-icon-button (click)="sidebar.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="header-title">Monitor</h1>
    <div class="header-avatar-wrapper">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <img class="header-avatar" [src]="'assets/images/belgian-flag.png'" />
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Vlaams</span>
        </button>
        <button mat-menu-item>
          <span>English</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <router-outlet name="dashboard"></router-outlet>
</mat-sidenav-container>

